
.display{

    width: 600px;
    text-align: center;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    display:flex;
}



button{
border: none;
padding-top: 10px;
padding-bottom: 10px;
color: white;
font-weight: bold;
width: 200px;
margin-bottom: 5px;
border-radius: 5px;
background: darkred;
margin-left: auto;
margin-right: auto;
display:flex;
padding-left: 50px;
padding-right: 50px;
    
}

img{
    width: 200px; height: 40%;
    margin-top: 10px;

}


.texto{

    font-size: 30px;
    width: 600px;
    text-align: center;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

body{

    background-color: black;
    color: white;
}
.horizontal{

    width: 300px; height: 200px;
    margin-top: 20px;
}


.vertical{

    width: 200px; height: 300px;
    justify-content: center;
    margin-top: 20px;
}

.cuadrada{

    width: 300px; height: 300px;
    justify-content: center;
    margin-top: 20px;

}


.textoPrincipal{
    font-size: 30px;
    width: 600px;
    text-align: center;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

