


.texto_principal{

    font-size: 40px;
    width: 600px;
    text-align: center;
    padding: 50px;
    margin-left: 300px;
    margin-right: 300px;
}

body{
    background-color: black;
    color: white;
}
.imagen{
    width: 300px; height: 200px;
    margin-top: 20px;
}


.imgLarga{
    width: 200px; height: 300px;
    justify-content: center;
    margin-top: 20px;
}

.cuadrada{
    width: 300px; height: 300px;
    justify-content: center;
    margin-top: 20px;

}

.columna{
    display:flex;
    flex-wrap: wrap;
    
    
}

.colums_element{

    padding: 50px;
    width: 300px;
    
    
}


.favoritos{
    padding: 50px;
   width: 300px;
   
  
}
.especial{
    width: 300px;
    display: flex;
    padding-right: 50px;
    justify-content: center;
    
    
}

.imagen_especial{
    width: 100px;
    text-align: center;
    padding: 10px;
}


.final{
    margin-top: 100px;
    border: solid;
    border-radius: 10px;
    margin-left: 600px;
    margin-right: 600px;
    text-align: center;
    
    
}